{% include "head.html" %}
{% load static %}

<div class="container">
    <h4>关于 Lapis</h4>
    <hr>
    <h4>一个自动化WebAPI场景脚本规范 & 测试工作。</h4><br><br>
    <h4>脚本规范： <a href="{% static 'assets/Swagger-Compatible API & Scenario DSL.pdf' %}">PDF</a><br></h4>
    <br>
    <br>
    <hr>
    <div class="row" style="text-align: center; margin-bottom: 50pt">
        <strong>SEGroup, 清华大学</strong>
        <br>
        Powered by Bootstrap, Glyphicons, Ace and JQuery <br>
    </div>
</div>

{% include "tail.html" %}