{% include "head.html" %}
{% load static %}

<div class="container">
    <h4>About Lapis</h4>
    <hr>
    <h4>An automated web API scenario specification & tester.</h4><br><br>
    <h4>Script specification: <a href="{% static 'assets/Swagger-Compatible API & Scenario DSL.pdf' %}">PDF</a><br></h4>
    <br>
    <br>
    <hr>
    <div class="row" style="text-align: center; margin-bottom: 50pt">
        <strong>SEGroup, Tsinghua University</strong>
        Powered by Bootstrap, Glyphicons, Ace and JQuery <br>
    </div>
</div>

{% include "tail.html" %}