{% include "head.html" %}
{% load static %}

<div class="container">
    <h4>About Lapis</h4>
    <hr>
    <img src="{% static "assets/logo.png" %}"><br>
    <strong>An automated web API scenario specification & tester.</strong><br><br>
    Script specification: <a href="{% static 'assets/Swagger-Compatible API & Scenario DSL.pdf' %}">PDF</a><br>
    Paper: <a href="{% static 'assets/main_paper_blind.pdf' %}">PDF</a><br><br>
    <strong>SEGroup, Tsinghua University</strong>
    <hr>
    <div class="row" style="text-align: center; margin-bottom: 50pt">
        Powered by Bootstrap, Glyphicons, Ace and JQuery <br>
    </div>
</div>

{% include "tail.html" %}