{% include "head.html" %}

{% load static %}

<link href="{% static "site_css/main.css" %}" rel="stylesheet">
<script src="{% static "site_js/main.js" %}"></script>
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})
</script>

<div class="mainpage-container">

    <div class="mainpage-filediv">
        <div class="row text-center">
            <h4>My Files</h4>
        </div>
        <div class="row">
            <a href="#" class="btn btn-primary btn-block" style="margin:5pt;" id="new_file_trigger_btn">New File</a>
        </div>
        <div class="mainpage-filelist">
        </div>
    </div>

    <div class="mainpage-leftdiv">

        <div class="row" style="padding: 10pt">
            <div class="span2 form-group">
                <input class="input-file" style="display: inline" id="fileInput" type="file">
            </div>
            <div class="span2 text-center" id="filename_div">
                <a id="filename_span" href="#">Noname</a>
                <span id="filename_astar">*</span>
            </div>
            <div class="span2 pull-right" style="margin-left: 0">
                <a class="btn btn-primary btn-block" id="file_btn">Load</a>
            </div>
        </div>

        <div id="script_area"></div>

        <div class="row" style="margin: 10pt">
            <div class="span3" style="margin-left: 0">
                Script format: <br>
                <input type="radio" name='format_type' id="YAML-radio" checked>&nbsp;YAML or JSON
                <input type="radio" name='format_type' id="XML-radio" style="margin-left: 20pt">&nbsp;XML
            </div>
            <div class="span2 pull-right" style="margin-right: 0">
                <a class="btn btn-primary btn-block" id="parse_btn">Parse</a>
                <a class="btn btn-success btn-block" id="save_btn">Save</a>
            </div>
        </div>

{#        <div class="row" style="margin: 10pt">#}
{#            <div class="span2" style="margin-left: 0">#}
{#                <input type="radio" name='format_type' id="YAML-radio" checked>&nbsp;YAML or JSON#}
{#            </div>#}
{#            <div class="span1" style="margin-left: 0">#}
{#                <input type="radio" name='format_type' id="XML-radio">&nbsp;XML#}
{#            </div>#}
{#            <div class="span2 pull-right" style="margin-left: 0">#}
{#                <a class="btn btn-primary btn-block" id="parse_btn">Parse</a>#}
{#            </div>#}
{#        </div>#}

{#        <div class="row" style="padding-left: 10pt; padding-right: 10pt" >#}
{#            <a class="parse_status span1" id="doc_status" data-toggle="tooltip" title="Document Parse">#}
{#                <span class="badge badgenormal">Stage 1</span>#}
{#                <span class="badge badge-success">Stage 1</span>#}
{#                <span class="badge badge-important">Stage 1</span>#}
{#            </a>#}
{#            <a class="parse_status span1" id="api_status" data-toggle="tooltip" title="API Parse">#}
{#                <span class="badge badgenormal">Stage 2</span>#}
{#                <span class="badge badge-success">Stage 2</span>#}
{#                <span class="badge badge-important">Stage 2</span>#}
{#            </a>#}
{#        </div>#}

{#        <div class="row" style="padding-left: 10pt; padding-right: 10pt" >#}
{#            <div class="span2 pull-right" style="margin-right: 0pt">#}
{#                <a class="btn btn-success btn-block" id="save_btn">Save</a>#}
{#            </div>#}
{#        </div>#}

    </div>

    <div class="mainpage-rightdiv">

        <div class="panel panel-null text-warning" id="change_div">
            <div class="panel-body">
                Some changes happened. Please parse again.
                <hr>
            </div>
        </div>

        <div class="panel panel-null panel-body" id="error_panel">
            <h5>Error</h5>
            <div style="height: 5px"></div>
            <div id="error_list" style="color: darkred">
                No error.
            </div>
        </div>

        <div class="panel panel-null" id="transform_ops">
            <div class="panel-body">
                <div class="row">
                    <div style="width: 30%; margin-left: 70%">
                        <a id="transform_btn" class="btn btn-primary btn-block btn-success">Transform to Another Format</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-null" id="basic_info_panel">
            <div class="panel-heading">
                <a href="#" data-toggle="collapse" data-target="#basic_info_body">Basic Info</a>
            </div>
            <div class="panel-body collapse in" id="basic_info_body">
                <table class="table">
                    <tbody id="basic_info_table">

                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-null" id="api_panel">
            <div class="panel-heading">
                <a data-toggle="collapse" data-target="#api_list" href="#">API List</a>
            </div>
            <div class="panel-body">
                <div id="api_list" class="collapse in">
                </div>
            </div>
        </div>

    </div>


    <div id="copy_modal" class="modal hide fade in" style="display: none; ">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Raw JSON Data</h3>
        </div>
        <div class="modal-body">
            <div id="json_area" style="max-height: 300pt; word-break:break-all; overflow-y: scroll"></div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>

    <div id="chgfilename_modal" class="modal hide fade in" style="display: none; ">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Change Document Name</h3>
        </div>
        <div class="modal-body">
            <input class="span5" type="text" id="chgfilename_input" placeholder="New Document Name" />
            <div class="help-block">Extension name (.yaml/.xml) should NOT be contained.</div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-success" id="chgfilename_btn">Change</a>
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>

    <div class="modal hide" id="waitDialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-header">
            <h1>Loading...</h1>
        </div>
        <div class="modal-body">
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
    </div>

    <div id="delconfirm_modal" class="modal hide fade in" style="display: none; ">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Delete Confirm</h3>
        </div>
        <div class="modal-body">
            Are you sure to delele the file "<span class="text-error" id="delconfirm_filename"></span>"?
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger" id="delconfirm_btn">Delete</a>
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>

    <div id="rename_modal" class="modal hide fade in" style="display: none; ">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Rename</h3>
        </div>
        <div class="modal-body">
            <input class="span5" type="text" id="rename_input" placeholder="New Document Name" />
            <div class="help-block">Extension name (.yaml/.xml) should NOT be contained.</div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-success" id="rename_btn">Change</a>
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>

    <div id="newfile_modal" class="modal hide fade in" style="display: none">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>New File</h3>
        </div>
        <div class="modal-body">
            <div id="newfile_danger_div">
                <span class="text-danger">
                    <strong>There is existing script in the editor. Sure to overwrite it?</strong>
                </span>
            </div>
            <br>
            New Document Name:<br>
            <input class="span5" type="text" id="newfile_input" />
            <div class="help-block">Extension name (.yaml/.xml) should NOT be contained.</div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-success" id="newfile_btn">New</a>
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>

</div>

{% include "tail.html" %}