{% include "head.html" %}

{% load static %}

<link href="{% static "site_css/main.css" %}" rel="stylesheet">
<script src="{% static "site_js/main.js" %}"></script>
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})
</script>

<div class="mainpage-container">
    <div class="mainpage-leftdiv">

        <div class="row" style="padding: 10pt">
            <div class="span4 form-group">
                <input class="input-file" style="display: inline" id="fileInput" type="file">
            </div>
            <div class="span2 pull-right" style="margin-left: 0">
                <a class="btn btn-primary btn-block" id="file_btn">Load</a>
            </div>
        </div>

        <div id="script_area"></div>

        <div class="row" style="margin: 10pt">
            <div class="span2" style="margin-left: 0">
                <input type="radio" name='format_type' id="YAML-radio" checked>&nbsp;YAML or JSON
            </div>
            <div class="span2" style="margin-left: 0">
                <input type="radio" name='format_type' id="XML-radio">&nbsp;XML
            </div>
            <div class="span2 pull-right" style="margin-left: 0">
                <a class="btn btn-primary btn-block" id="parse_btn">Parse</a>
            </div>
        </div>

        <div class="row" style="padding-left: 10pt; padding-right: 10pt" >
            <a class="parse_status span1" id="doc_status" data-toggle="tooltip" title="Document Parse">
                <span class="badge badgenormal">Stage 1</span>
                <span class="badge badge-success">Stage 1</span>
                <span class="badge badge-important">Stage 1</span>
            </a>
            <a class="parse_status span1" id="api_status" data-toggle="tooltip" title="API Parse">
                <span class="badge badgenormal">Stage 2</span>
                <span class="badge badge-success">Stage 2</span>
                <span class="badge badge-important">Stage 2</span>
            </a>
        </div>

    </div>

    <div class="mainpage-rightdiv">

        <div class="panel panel-null text-warning" id="change_div">
            <div class="panel-body">
                Some changes happened. Please parse again.
                <hr>
            </div>
        </div>

        <div class="panel panel-null panel-body" id="error_panel">
            <h5>Error</h5>
            <div style="height: 5px"></div>
            <div id="error_list" style="color: darkred">
                No error.
            </div>
        </div>

        <div class="panel panel-null" id="transform_ops">
            <div class="panel-body">
                <div class="row">
                    <div style="width: 30%; margin-left: 70%">
                        <a id="transform_btn" class="btn btn-primary btn-block btn-success">Transform to Another Format</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-null" id="basic_info_panel">
            <div class="panel-heading">
                <a href="#" data-toggle="collapse" data-target="#basic_info_body">Basic Info</a>
            </div>
            <div class="panel-body collapse in" id="basic_info_body">
                <table class="table">
                    <tbody id="basic_info_table">

                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-null" id="api_panel">
            <div class="panel-heading">
                <a data-toggle="collapse" data-target="#api_list" href="#">API List</a>
            </div>
            <div class="panel-body">
                <div id="api_list" class="collapse in">
                </div>
            </div>
        </div>

        <div class="panel panel-primary" style="margin-top: 20pt; margin-bottom: 20pt" id="api_ops">
            <div class="panel-heading">
                Data Generation
            </div>
            <div class="panel-body">
                <select id="api_select" style="width: 100%">
                    <option name="default">Select an API</option>
                </select><br>
                <div class="row">
                    <div style="width: 50%; margin-left: 25%">
                        <a id="datagen_btn" class="btn btn-primary btn-block btn-success">Generate Request Data</a>
                    </div>
                </div>
                <div id="datagen_panel">
                    <hr>
                    <h5><a data-toggle="collapse" data-target="#datagen_frame_div">Generation Result</a></h5>
                    <div id="datagen_frame_div" class="collapse in">
                        <div id="datagen_success_div">
                            <strong class="text-success">Success</strong><br>
                            <strong>Data</strong>&nbsp; &nbsp;<a id="datagen_copy">[copy]</a><br>
                            <div id="datagen_div"></div>
                        </div>
                        <div id="datagen_fail_div">
                            <strong class="text-error">Failed</strong><br>
                            <strong>Errors:</strong><br>
                            <div id="datagen_err_div"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>


    <div id="copy_modal" class="modal hide fade in" style="display: none; ">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Raw JSON Data</h3>
        </div>
        <div class="modal-body">
            <div id="json_area" style="max-height: 300pt; word-break:break-all; overflow-y: scroll"></div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>

</div>

{% include "tail.html" %}