/* view page */

.viewpage-container {
    position: absolute;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    flex-direction: row;
    left: 0;
    right: 0;
    margin-top: -15pt;
    height: calc(100% - 70px);
}

.viewpage-leftdiv {
    display: block;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: calc(100%);
    max-width: 25%;
    overflow-x: auto;
    overflow-y: scroll;
    background: #f5f5f5;
    padding: 10pt;
}

.viewpage-rightdiv {
    display: block;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: calc(100% + 20pt);
    max-width: 75%;
    overflow-x: auto;
    overflow-y: scroll;
    padding: 0;
    background: #f5f5f5;
}

#example_view_area {
    height: calc(70% - 15pt);
    margin-right: 2px;
}

#example_sup_area {
    height: calc(30% - 15pt);
    margin-right: 2px;
}

/* view page end */